@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula,winter,dark;
}

.align-element{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
